<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- animate css -->
    <link rel="stylesheet" href="./../CSS/animate.min.css">
    <!-- animsition  :Not working on indiv pages. only work on index.-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animsition/4.0.1/css/animsition.min.css" media="screen" title="no title" charset="utf-8">
    <!-- skipper css -->
    <link rel="stylesheet" href="./../CSS/skipper.css">
    <!-- bootstrap css -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" media="screen" title="no title" charset="utf-8">
    <!-- default css -->
    <link rel="stylesheet" href="./../CSS/site.css">
    <title>Tracker</title>
  </head>
  <body>
    <div class="container-fluid animsition" data-animsition-out-class="fade-in-left"
    data-animsition-out-duration="2000">
      <!-- banner -->
    <div class="row">
      <div class="col-md-12">
        <div class="jumbotron">
          <h1>Blog</h1>
        </div>
      </div>
    </div>

      <!-- navigation -->
      <div class="row" >
        <div class="col-md-12 animsition" data-animsition-out-class="fade-in-left"
        data-animsition-out-duration="2000">
          <nav>
            <a
              href="./../index.html"
              class="animsition-link"
              data-animsition-out-class="fade-out-down"
              data-animsition-out-duration="2000"
              data-animsition-in-class="fade-in-down"
              data-animsition-in-duration="2000"
                >Home</a>
            <a
              href="./../templates/blog.html"
              class="animsition-link"
              data-animsition-out-class="fade-out"
              data-animsition-out-duration="2000"
              data-animsition-in-class="fade-in"
              data-animsition-in-duration="2000"
                >Blog</a>
            <a
              href="./../templates/food.html"
              class="animsition-link"
              data-animsition-out-class="fade-out-down"
              data-animsition-out-duration="2000"
              data-animsition-in-class="fade-in-down"
              data-animsition-in-duration="2000"
                >Food</a>
            <a
              href="./../templates/shop.html"
              class="animsition-link"
              data-animsition-out-class="fade-out-down"
              data-animsition-out-duration="2000"
              data-animsition-in-class="fade-in-down"
              data-animsition-in-duration="2000"
                >Shop</a>
            <a
              href="./../templates/chat.html"
              class="animsition-link"
              data-animsition-out-class="fade-out-down"
              data-animsition-out-duration="2000"
              data-animsition-in-class="fade-in-down"
              data-animsition-in-duration="2000"
                >Chat</a>
          </nav>
        </div>
      </div>








    </div> <!-- end of container -->


    <!-- jquery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js" ></script>
    <!-- animate js -->
    <script src="./../JS/animatedModal.min.js" ></script>
    <!-- animsition : Not working see css-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animsition/4.0.1/js/animsition.min.js" ></script>
    <!-- skipper js -->
    <script src="./../JS/skipper.js" ></script>
    <!-- bootstrap js -->
    <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js'></script>
    <!-- default -->
    <script src='./../JS/app.js'></script>
  </body>
</html>
